# ---------------------------------------------------------------------------------------------------------------------------------------
# Require Variables
# ---------------------------------------------------------------------------------------------------------------------------------------

# Replace with your Bot Token
DISCORD_BOT_TOKEN="YOUR_BOT_TOKEN"

# ---------------------------------------------------------------------------------------------------------------------------------------
# Optional Variables
# ---------------------------------------------------------------------------------------------------------------------------------------

# Replace with your Bot's Name
BOT_NAME="HexnixBot"

# Replace with your Database's File
DATABASE_FILE="bot_data.json"
